<div class="main-content" style="margin-top: 100px;">
    <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Prijava na stranicu</h4>
          </div>
          <div class="card-body">
                  <div class="row">
                          <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()" class="container" novalidate autocomplete="off" #form="ngForm">
                              
                              <app-text-input [formControl]="loginForm.controls['username']" 
                                    [label]='"Korisnicko ime"'></app-text-input>
                                
                              <app-text-input [formControl]="loginForm.controls['password']"
                                    [label]='"Lozinka"' [type]='"password"'></app-text-input>
                              <br>
                              <div class="form-group text-center">
                                  <button class="btn btn-dark btn-lg btn-block" type="submit" [disabled]="form.invalid">Prijavi se</button>
                                  <button class="btn btn-danger btn-lg btn-block" (click)="cancel()">Odustani</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
  