<div class="modal-header">
  <h4 class="modal-title pull-left">{{book.title}}</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
 
<div class="opis">Opis knjige: {{book.subtitle}}</div>
Cijena: {{book.price}}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Zatvori</button>
</div>